* {
    padding: 0;
    margin: 0;
  }
  html {
    font-family: 'Roboto Condensed', sans-serif;
  }
  html,
  body {
    width: 80%;
    margin: auto auto;
  }

  header {
    text-align: left;
    width: 100%;
    height: 55px;
    border-bottom: solid 3px;
  }
  section h3 {
    margin-bottom: 5px;
  }
  section {
    margin: 15px 0px 15px;
    width: 70%;
    float: left;
  }
  #profPhoto {
    display: block;
    width: 30%;
    height: auto;
    float: right;
}
.skills {
    width: 50%;
    float: left;
  }
  .skills p {
    margin-bottom: 3px;
  }